# Repository-specific
/sid
/test/test

# C++
*.o

# misc
\#*
*.swp
*~
.deps
/.dirstamp
TAGS
tags

# http://www.gnu.org/software/automake
Makefile
Makefile.in
/test-driver
test-suite.log
test.log
test.trs


# http://www.gnu.org/software/autoconf
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
